<label for="recommend_grade_flg_00"><%=h _('recommend_grade_flg_00') %></label><%= check_box :shopitem, :recommend_grade_flg_00 %>
<br/>
<%= h _('recommend for') %>:
<label for="recommend_grade_flg_01"><%=h _('recommend_grade_flg_01') %></label><%= check_box :shopitem, :recommend_grade_flg_01 %>
<label for="recommend_grade_flg_02"><%=h _('recommend_grade_flg_02') %></label><%= check_box :shopitem, :recommend_grade_flg_02 %>
<label for="recommend_grade_flg_03"><%=h _('recommend_grade_flg_03') %></label><%= check_box :shopitem, :recommend_grade_flg_03 %>
<label for="recommend_grade_flg_04"><%=h _('recommend_grade_flg_04') %></label><%= check_box :shopitem, :recommend_grade_flg_04 %>
<label for="recommend_grade_flg_05"><%=h _('recommend_grade_flg_05') %></label><%= check_box :shopitem, :recommend_grade_flg_05 %>
<label for="recommend_grade_flg_06"><%=h _('recommend_grade_flg_06') %></label><%= check_box :shopitem, :recommend_grade_flg_06 %>
<label for="recommend_grade_flg_07"><%=h _('recommend_grade_flg_07') %></label><%= check_box :shopitem, :recommend_grade_flg_07 %>
<label for="recommend_grade_flg_08"><%=h _('recommend_grade_flg_08') %></label><%= check_box :shopitem, :recommend_grade_flg_08 %>
<label for="recommend_grade_flg_09"><%=h _('recommend_grade_flg_09') %></label><%= check_box :shopitem, :recommend_grade_flg_09 %>