<p>
  <label for= "shopitem_date_val_1"><%= h _('shopitem_date_val_1') %>:</label>
	<%= datetime_select :shopitem, :date_val_1, :use_month_numbers => true, :include_blank => true %>
<br/>
  <label for= "shopitem_date_val_2"><%= h _('shopitem_date_val_2') %>:</label>
	<%= datetime_select :shopitem, :date_val_2, :use_month_numbers => true, :include_blank => true %>
<br/>
  <label for= "shopitem_date_val_3"><%= h _('shopitem_date_val_3') %>:</label>
	<%= datetime_select :shopitem, :date_val_3, :use_month_numbers => true, :include_blank => true %>
</p>