<p><label for="picture0_file"><%= h _('file') %></label>
  <%= file_field :picture0, :file %>
<label for="picture0_title"><%= h _('picture_title') %></label>
  <%= text_field :picture0, :title %>

<br/><label for="picture1_file"><%= h _('file') %></label>
  <%= file_field :picture1, :file %>
<label for="picture1_title"><%= h _('picture_title') %></label>
  <%= text_field :picture1, :title %>

<br/><label for="picture2_file"><%= h _('file') %></label>
  <%= file_field :picture2, :file %>
<label for="picture2_title"><%= h _('picture_title') %></label>
  <%= text_field :picture2, :title %>

<br/><label for="picture3_file"><%= h _('file') %></label>
  <%= file_field :picture3, :file %>
<label for="picture3_title"><%= h _('picture_title') %></label>
  <%= text_field :picture3, :title %>

<br/><label for="picture4_file"><%= h _('file') %></label>
  <%= file_field :picture4, :file %>
<label for="picture4_title"><%= h _('picture_title') %></label>
  <%= text_field :picture4, :title %>
</p>